<a href="https://colab.research.google.com/github/hlnynhi/Python-nang-cao/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 min(2, 3, 4)

2

In [ ]:
max(2, -3, 4, 7, -5)

7

In [ ]:
max(2, -3, min(4, 7), -5)

4

Ex2

In [ ]:
 min(max(3, 4), abs(-5))

4

In [ ]:
abs(min(4, 6, max(2, 8)))

4

In [ ]:
round(max(5.572, 3.258), abs(-2))

5.57

Ex3

In [ ]:
def triple(num):
 """ (number) -> number
 Return num tripled.
 >>> triple(3)
 9
 """
 return num * 3
triple(5)

15

Ex4

In [4]:
def absolute_difference(number1, number2):
  """ (number, number) -> number
 Return the absolute value of the difference between number1
 and number2.
 >>> absolute_difference(3, 7)
 4
 """
  return abs(number1 - number2)
absolute_difference(2,1)

1

Ex5

In [3]:
def km_to_miles(km):
 """ (number) -> float
 Return the distance km in miles.
 >>> km_to_miles(5)
 3.125
 """
 return km / 1.6
km_to_miles(10)

6.25

Ex6

In [ ]:
def average_grade(grade1, grade2, grade3):
 """ (number, number, number) -> number
 Return the average of the grade1, grade2, and grade3, where
 each grade ranges from 0 to 100, inclusive.
 >>> average_grade(80, 95, 90)
 88.33333333333333
 """
 return (grade1 + grade2 + grade3) / 3
average_grade(3,6,1)

Ex7

In [6]:
def top_three_avg(grade1, grade2, grade3, grade4):
 """ (number, number, number, number) -> number
 Return the average of the top three of grades grade1, grade2,
 grade3, and grade4.
 >>> top_three_avg(50, 60, 70, 80)
 70
 """
 # Here is one solution that does not use average_grade from Q6.
 total = grade1 + grade2 + grade3 + grade4
 top_three = total - min(grade1, grade2, grade3, grade4)
 return top_three / 3
 # Here is a different solution that does use the function from Q6.
 return max(average_grade(grade1, grade2, grade3),
 average_grade(grade1, grade2, grade4),
 average_grade(grade1, grade3, grade4),
 average_grade(grade2, grade3, grade4))
 return (grade1 + grade2 + grade3) / 3
top_three_avg(4,6,3,8)

6.0

Ex8

In [5]:
def weeks_elapsed(day1, day2):
""" (int, int) -> int
day1 and day2 are days in the same year. Return the number of full weeks
that have elapsed between the two days.
>>> weeks_elapsed(3, 20)
2
>>> weeks_elapsed(20, 3)
2
>>> weeks_elapsed(8, 5)
>>> weeks_elapsed(40, 61)
"""
  return 
weeks_elapsed(40, 61)

IndentationError: ignored