<a href="https://colab.research.google.com/github/hlnynhi/Python-nang-cao/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bài tập chương 3.

1.

In [ ]:
 min(2, 3, 4)

2

In [ ]:
max(2, -3, 4, 7, -5)

7

In [ ]:
max(2, -3, min(4, 7), -5)

4

2.

In [ ]:
 min(max(3, 4), abs(-5))

4

In [ ]:
abs(min(4, 6, max(2, 8)))

4

In [ ]:
round(max(5.572, 3.258), abs(-2))

5.57

3.

In [ ]:
def triple(num):
 """ (number) -> number
 Return num tripled.
 >>> triple(3)
 9
 """
 return num * 3
triple(5)

15

4.

In [4]:
def absolute_difference(number1, number2):
  """ (number, number) -> number
 Return the absolute value of the difference between number1
 and number2.
 >>> absolute_difference(3, 7)
 4
 """
  return abs(number1 - number2)
absolute_difference(2,1)

1

5.

In [35]:
def km_to_miles(km):
 """ (number) -> float
 Return the distance km in miles.
 >>> km_to_miles(5)
 3.125
 """
 return km / 1.6
km_to_miles(10)

6.25

6.

In [ ]:
def average_grade(grade1, grade2, grade3):
 """ (number, number, number) -> number
 Return the average of the grade1, grade2, and grade3, where
 each grade ranges from 0 to 100, inclusive.
 >>> average_grade(80, 95, 90)
 88.33333333333333
 """
 return (grade1 + grade2 + grade3) / 3
average_grade(3,6,1)

7.

In [6]:
def top_three_avg(grade1, grade2, grade3, grade4):
 """ (number, number, number, number) -> number
 Return the average of the top three of grades grade1, grade2,
 grade3, and grade4.
 >>> top_three_avg(50, 60, 70, 80)
 70
 """
 # Here is one solution that does not use average_grade from Q6.
 total = grade1 + grade2 + grade3 + grade4
 top_three = total - min(grade1, grade2, grade3, grade4)
 return top_three / 3
 # Here is a different solution that does use the function from Q6.
 return max(average_grade(grade1, grade2, grade3),
 average_grade(grade1, grade2, grade4),
 average_grade(grade1, grade3, grade4),
 average_grade(grade2, grade3, grade4))
 return (grade1 + grade2 + grade3) / 3
top_three_avg(4,6,3,8)

6.0

8.

In [31]:
def weeks_elapsed(day1, day2):
  """(int, int) -> int
day1 and day2 are days in the same year. Return the number of full weeks
that have elapsed between the two days.
>>> weeks_elapsed(3, 20)
2
>>> weeks_elapsed(20, 3)
2
>>> weeks_elapsed(8, 5)
>>> weeks_elapsed(40, 61)
"""
  if day1 and day2 <= 31:
    return abs((day1-day2))//7
weeks_elapsed(1,15)

2

9.

In [34]:
def square(num):
  """ (number) -> number
Return the square of num.
>>> square(3)
9
"""
  return num**2
square(8)

64

Bài tập chương 6.

1.

In [40]:
import math
#câu a
a=math.floor(-2.8)
print(a)
#câu b
b=abs(round(-4.3))
print(b)
#câu c
math.ceil(math.sin(34.5))

4

1

2.

In [46]:
#câu a
import calendar
#câu b
help(calendar.isleap)
#câu c
calendar.isleap(2016)
#câu d
print(dir(calendar))
#câu e
print(calendar.leapdays(2000, 2050))
#câu f
calendar.weekday(2016, 7, 29)

Help on function isleap in module calendar:

isleap(year)
    Return True for leap years, False for non-leap years.

['Calendar', 'EPOCH', 'FRIDAY', 'February', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'January', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_locale', '_localized_day', '_localized_month', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthlen', 'monthrange', 'nextmonth', 'prcal', 'prevmonth', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'week', 'weekday', 'weekheader']
13

4

3.

In [53]:

def average(num1: float, num2: float) -> float:
  """Return the average of num1 and num2.
>>> average(10,20)
15.0
>>> average(2.5, 3.0)
2.75
"""
  return num1 + num2 / 2
average(10,20)

20.0